body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    width: 300px;
    margin: 80px auto;
    border-radius: 8px;
    padding: 20px 20px;
    border: solid 1px #e0dcdc;
}
.content{
    margin-top: 15px;
}
.subtitle{
    text-align: center;
    margin-bottom: 25px;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}
h1{
    font-size: 15px;
}
.account{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn1{
    width: 48%;
    padding: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13px;
    margin-bottom: 5px;
    border: solid 1px #e7e3e4;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}
img{
    width: 15px;
    height: auto;
}
.or-garis{
    line-height: 1px;
    text-align: center;
    border-bottom: 1px solid #b1aeae;
    margin: 20px 0;
    color: #333;
    font-size: 10px;
}
.or-garis span{
    background: #fff;
    padding: 0 10px;
}
.eml{
    font-size: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;  
}
.eml label{
    margin-bottom: 5px ;
}
.email-box {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.pass{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 5px;
    position: relative;
}
.pass i{
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-0%);
    cursor: pointer;
}
.pass-sub{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}
.pass-box{ 
    border: solid 1px #9a8d8d;
    border-radius: 6px;
    width: 93%;
    padding: 10px;
}
.forgot{
    color: #235fba;
    text-decoration: none;
}
.checklist{
    font-size: 10px;
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: row;
    padding: 1px;
    align-items: center;
    gap:5px;
}
.bttn-sign-in{
    background:#0055d5;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.bttn a:hover{
    background-color: #00398f;
    transition: background-color 0.3s ease;
        
}
.account a:hover{
    background-color: #f4f4f5;
    transition: background-color 0.3s ease;  
}
